# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
exec(open("create_tables.py").read())

In [2]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

In [3]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [4]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [5]:
def get_files2(mydir):
    return [os.path.abspath(f) for f in glob.glob(f'{mydir}/**/*.json', recursive=True)]

In [6]:
songs_files_dir = 'data/song_data'
song_files = get_files2(songs_files_dir)

In [7]:
filepath = song_files[0]
print(filepath)

C:\Users\YPetr\Documents\Dev\Python\python_playground\udacity\data_modelling\data\song_data\A\A\A\TRAAAAW128F429D538.json

In [8]:
# df = pd.read_json(filepath, lines=True)
# df.head()
# working with all the data
path_to_song_files = 'data/song_data/**/*.json'
df = pd.concat([pd.read_json(song_file, lines=True)for song_file in glob.glob(path_to_song_files, recursive=True)])

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [9]:
# No need - we can do it from df as a dict

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [11]:
%time
song_table_columns = ['songid', 'title', 'artistid', 'year', 'duration']
df_filtered = df.filter(items=song_table_columns)
df_filtered.size
for i, row in df.iterrows():
    cur.execute(song_table_insert, row.to_dict())
    conn.commit()

Wall time: 0 ns

KeyError: 'songId'

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [12]:
%time
artist_table_name_mapping = {
    'artist_id': 'artistId',
    'artist_name':'name',
    'artist_location': 'location',
    'artist_latitude': 'latitude',
    'artist_longitude': 'longitude'
}
filtered_df = df.filter(items=list(artist_table_name_mapping.keys())).rename(
    columns=artist_table_name_mapping)
# artist_data = filtered_df.where(pd.notnull(filtered_df), None).to_dict('records')[0]
# artist_data

# print(cur.mogrify(artist_table_insert,artist_data).decode())
# artist_data
filtered_df

Wall time: 0 ns

              artistId              name         location  latitude  longitude
0   ARD7TVE1187B99BFB1            Casual  California - LA       NaN        NaN
0   ARMJAGH1187FB546F3      The Box Tops      Memphis, TN  35.14968  -90.04892
0   ARKRRTF1187B9984DA  Sonora Santanera                        NaN        NaN
0   AR7G5I41187FB4CE6C          Adam Ant  London, England       NaN        NaN
0   ARXR32B1187FB57099               Gob                        NaN        NaN
..                 ...               ...              ...       ...        ...
0   AR8IEZO1187B99055E      Marc Shaiman                        NaN        NaN
0   AR558FS1187FB45658           40 Grit                        NaN        NaN
0   ARVBRGZ1187FB4675A      Gwen Stefani                        NaN        NaN
0   ARWB3G61187FB49404       Steve Morse   Hamilton, Ohio       NaN        NaN
0   AREVWGE1187B9B890A        Bitter End        Noci (BA) -13.44200  -41.99520

[71 rows x 5 columns]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [13]:
for i, row in filtered_df.iterrows():
    cur.execute(artist_table_insert, row.to_dict())
    conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [14]:
path_to_song_files = 'data/log_data/**/*.json'
# log_files = get_files2(log_files_dir)

In [ ]:
# filepath = log_files[0]
# filepath

In [15]:
df = pd.concat([pd.read_json(song_file, lines=True) for song_file in glob.glob(path_to_song_files, recursive=True)])
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Walter,M,0,Frye,NaN,free,"San Francisco-Oakland-Hayward, CA",GET,Home,1.540919e+12,38,None,200,1541105830796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",39
1,None,Logged In,Kaylee,F,0,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Home,1.540345e+12,139,None,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
3,None,Logged In,Kaylee,F,2,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Upgrade,1.540345e+12,139,None,200,1541106132796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [16]:
df = df.loc[df['page'] == 'NextSong']
print(df.size)
df.head()

122760

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
5,Tamba Trio,Logged In,Kaylee,F,4,Summers,177.18812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Quem Quiser Encontrar O Amor,200,1541106496796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
6,The Mars Volta,Logged In,Kaylee,F,5,Summers,380.42077,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Eriatarka,200,1541106673796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
7,Infected Mushroom,Logged In,Kaylee,F,6,Summers,440.26730,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Becoming Insane,200,1541107053796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8

In [ ]:
# no need to maintain the timestamps separately - w e can use datafrime directly
# t = pd.to_datetime(df['ts'], unit='ms')
# t.head()

In [ ]:
# No need to extract data to a list and maintain an order - we can just add new columns to a dataframe 
# time_data = ()
# column_labels = ()

In [17]:
time_df = df.filter(items=['ts'])\
        .drop_duplicates(subset=['ts'])\
        .rename(columns={'ts':'startTime'})\
        .assign(ts=lambda r: pd.to_datetime(r.startTime, unit='ms'))\
        .assign(year=lambda r: r.ts.dt.year)\
        .assign(month=lambda r: r.ts.dt.month)\
        .assign(week=lambda r: r.ts.dt.week)\
        .assign(weekday=lambda r: r.ts.dt.weekday)\
        .assign(day=lambda r: r.ts.dt.day)\
        .assign(hour=lambda r: r.ts.dt.hour)\
        .drop(columns=['ts'])
time_df.head()

       startTime  year  month  week  weekday  day  hour
2  1541106106796  2018     11    44        3    1    21
4  1541106352796  2018     11    44        3    1    21
5  1541106496796  2018     11    44        3    1    21
6  1541106673796  2018     11    44        3    1    21
7  1541107053796  2018     11    44        3    1    21

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [18]:
%time
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, row.to_dict())
    conn.commit()

Wall time: 0 ns

In [21]:
# Alternative processing with copy command (just testing things out)
conn.commit()
cur.execute('delete from time')
conn.commit()
%time
import io
import csv
# Alternative to sql
# from sqlalchemy import create_engine
# #host= dbname=sparkifydb user=student password=student
# engine = create_engine('postgresql://student:student@127.0.0.1:5432/sparkifydb')
# time_df.to_sql('Time', engine, if_exists='replace')
conn.commit()
output = io.StringIO()
time_df_for_copy = time_df.rename(columns={'startTime':'start_time'})
time_df_for_copy.to_csv(output, sep='\t',header=False, index=False)
print(list(time_df_for_copy.columns))
output.seek(0)
# cur.copy_from(output, 'Time', columns=list(time_df_for_copy.columns))
SQL_STATEMENT = """
    COPY Time FROM STDIN WITH
        CSV
        HEADER
        DELIMITER AS '\t'
    """
cur.copy_expert(sql=SQL_STATEMENT, file=output)
conn.commit()

Wall time: 0 ns
['start_time', 'year', 'month', 'week', 'weekday', 'day', 'hour']

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [23]:
user_df = df.dropna(subset=['userId']).assign(userId=lambda r: r.userId.astype(str)).filter(items=['userId', 'firstName', 'lastName', 'gender', 'level'])
# .drop_duplicates(subset=['userId'])
user_df.head()
len(user_df.index)

6820

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [24]:
conn.commit()
for i, row in user_df.iterrows():
    sql_command = cur.mogrify(user_table_insert, row.to_dict())
#     print(sql_command.decode())
    cur.execute(sql_command)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [27]:
for index, row in df.iterrows():
    # get songid and artistid from song and artist tables
    cur.execute(song_select, {
        'title': row.song,
        'artistName': row.artist,
        'duration': row.length
    })
    results = cur.fetchone()
    if results:
        songid, artistid = results
        print(results)
        print(row)
    else:
        songid, artistid = None, None
    # insert songplay record
    songplay_data = {
        'startTime' : row.ts,
        'userId' : row.userId,
        'level' : row.level,
        'songId' : songid,
        'artistId' : artistid,
        'sessionId' : row.sessionId,
        'location' : row.location,
        'userAgent' : row.userAgent
    }
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

In [28]:
cur.execute('select count(1) from SongPlays')
print(cur.fetchone())
conn.commit()

(6820,)

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [29]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.